<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# <meta http-equiv="refresh" content="0; url=/admin" /> #}
    <title>{{ meta.title }}</title>
    <link href="/css/output.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/af1b258980.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <header>
    <div class="flex h-16 bg-gray-700 items-center pl-4">
      <div class="flex flex-1 gap-2 text-gray-400">
        <i class="fa fa-blog"></i>
        <p>Bootstrap Blog</p>
        |
        <p>{{ header.title }}</p>
      </div>
      <div class="pr-4 flex gap-4 text-gray-200 items-center mr-6">
        {% if user %}
          <p>{{ user.username }}</p>
          <div
            class="size-8 rounded-full border-2 border-gray-200 flex justify-center items-center"
          >
            <i class="fa fa-user"></i>
          </div>
          <a href="/logout">
            <i class="fa fa-right-from-bracket"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </header>
  <body class="bg-gray-900">
    <div class="flex">
      <div class="h-screen w-144 p-4">
        <div class="flex flex-col text-gray-200">
          {% if meta.url === '/' %}
            <a class="text-green-300 flex items-center gap-2" href="/admin">
              <i class="fa fa-file-lines"></i>
              <h1 class="text-xl font-bold">Posts</h1>
            </a>
            <div class="pl-8 flex flex-col">
              <a class="text-green-300" href="/admin"
                >All ({{ blogEntriesWithSlug.length }})</a
              >
              <a href="/admin">Published ({{ blogEntriesWithSlug.length }})</a>
            </div>
          {% else %}
            <a class="flex items-center gap-2" href="/admin">
              <i class="fa fa-file-lines"></i>
              <h1 class="text-xl font-bold">Posts</h1>
            </a>
            <div class="pl-8 flex flex-col">
              <a href="/admin">All ({{ blogEntriesWithSlug.length }})</a>
              <a href="/admin">Published ({{ blogEntriesWithSlug.length }})</a>
            </div>
          {% endif %}
          <div class="flex flex-col">
            <a href="#">
              <h1 class="text-xl font-bold">Stats</h1>
            </a>
          </div>
          <div class="flex flex-col">
            <a href="#">
              <h1 class="text-xl font-bold">Comments</h1>
            </a>
          </div>
          <div class="flex flex-col">
            <a href="#">
              <h1 class="text-xl font-bold">Earnings</h1>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full mx-24">
        <div>{% block content %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>
