{% extends '../_layouts/_adminLayout.html' %}

{% block content %}
  <div class="my-6">
    <form
      class="text-gray-200 flex flex-col"
      action="/admin/{{ meta.postUrl }}"
      method="POST"
    >
      <h2 class="font-bold text-lg">Title</h2>
      <input
        required
        name="title"
        class="mb-6 border border-gray-200 rounded-sm px-4"
        value="{{ mainData.title }}"
      />

      <h2 class="font-bold text-lg">Post image</h2>
      <input
        required
        name="image"
        class="mb-6 border border-gray-200 rounded-sm px-4"
        value="{{ mainData.image }}"
      />
      <h2 class="font-bold text-lg">Author</h2>
      {% if mainData.author %}
        <input
          required
          name="author"
          class="mb-6 border border-gray-200 rounded-sm px-4"
          placeholder="{{ user.username }}"
          value="{{ mainData.author }}"
        />
      {% else %}
        <input
          required
          name="author"
          class="mb-6 border border-gray-200 rounded-sm px-4"
          placeholder="{{ user.username }}"
          value="{{ user.username }}"
        />
      {% endif %}
      <input required type="hidden" name="content" id="hidden-content" />
      <input
        type="hidden"
        name="slug"
        id="hidden-slug"
        value="{{ mainData.slug }}"
      />
      <h2 class="font-bold text-lg">Teaser</h2>
      <input
        required
        name="teaser"
        class="mb-6 border border-gray-200 rounded-sm px-4"
        value="{{ mainData.teaser }}"
      />
      <h2 class="font-bold text-lg mt-6">Text</h2>
      <div id="editor" class="text-white">{{ mainData.content | safe }}</div>
      <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
      <script>
        const quill = new Quill("#editor", {
          theme: "snow",
        });
        document.querySelector("form").addEventListener("submit", function () {
          document.querySelector("#hidden-content").value =
            quill.root.innerHTML;
        });
      </script>
      <div class="flex flex-row-reverse mt-6">
        {% if meta.url === '/post' %}
          <button
            type="submit"
            class="bg-green-300 px-4 py-1 rounded-sm text-gray-800"
          >
            Create
          </button>
        {% else %}
          <button
            type="submit"
            class="bg-green-300 px-4 py-1 rounded-sm text-gray-800"
          >
            Update
          </button>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}
